<%= form_for(@credit_card) do |f| %>
  <% if @credit_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

      <ul>
      <% @credit_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bank %><br>
    <%= f.text_area :bank %>
  </div>
  <div class="field">
    <%= f.label :card_name %><br>
    <%= f.text_area :card_name %>
  </div>
  <div class="field">
    <%= f.label :desciption %><br>
    <%= f.text_field :desciption %>
  </div>

  <div class="field">
    <%= f.label :travel_reward %><br>
    <%= f.text_area :travel_reward %>
  </div>
  <div class="field">
    <%= f.label :shopping_reward %><br>
    <%= f.text_area :shopping_reward %>
  </div>
  <div class="field">
    <%= f.label :joining_fee %><br>
    <%= f.text_field :joining_fee %>
  </div>
  <div class="field">
    <%= f.label :annual_fee %><br>
    <%= f.text_field :annual_fee %>
  </div>
  <div class="field">
    <%= f.label :cashback_reward %><br>
    <%= f.text_area :cashback_reward %>
  </div>
  <div class="field">
    <%= f.label :fuel_reward %><br>
    <%= f.text_area :fuel_reward %>
  </div>
  <div class="field">
    <%= f.label :is_lifestyle %><br>
    <%= f.text_area :is_lifestyle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
